body {
    background: white;
}

.container {

    display: block;
    margin: 60px auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 600px;
    margin-bottom: 20px;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/142/original/storm-sky-cloudy-weather.jpg?1704331784");
    color: white;


}

form {
padding-bottom: 10px;
padding-top: 10px;
margin-top: 7px;
text-align: center;
}

#enter-a-city {
    width: 500px;
    border-radius: 12px;
    padding: 4px 10px;
    border: none;
    font-size: 14px;
    
    
}

#search-button {
    border-radius: 14px;
    padding: 4px 10px;
    font-size: 14px;
    background-color: #BBBCC1;

}

#current-time-details {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    font-family: Questrial;
    background: rgba(0, 0, 0, 0.3);
    padding: 7px;
    margin: 5px 170px;
    border-radius: 3px;
}

h1 {
    margin-top: 18px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: Questrial;
    text-align: center;
}

#weather-icon {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.current-temperature {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    margin: 0px 0px 10px 15px;
    position: relative;
    bottom: 20px;
    text-align: center;

}

.temperature-units {
    font-size: 18px;
    position: relative;
    bottom: 33px;

}

.current-weather-details {
    display:flex;
    justify-content: space-between;
    margin: 10px 70px;
    text-align: center;
    font-family: Lato;
    font-size: 14px
}

#current-humidity, #current-wind {
    font-weight: bolder;
}

footer {
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 2px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.weather-forecast-day {
    background: rgba(0, 0, 0, 0.4);
    padding: 15px 25px;
    border-radius: 4px;
}


.weather-forecast-date {
    color: white;
    font-size: 15px;
    line-height: 20px;
    font-weight: 300;
    font-family: Lato;
}

.weather-forecast-icon {
   display: block;
    width: 38px;
    margin: 4px auto;
}

.weather-forecast-temperatures {
   text-align: center;
   font-size: 15px;

}

.weather-forecast-temperature-min {
    color: white;
    padding: 0px;
}